{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Home{% endblock %}

{% block body %}
    <div class="jumbotron mt-2">
        <h1 class="lead display-4">{{ app_name }}</h1>
        <p class="lead"></p>
        <small class="text-muted"></small>
    </div>
{% endblock %}