{% extends 'base.html.twig' %}

{% block title %}Hello MailController!{% endblock %}

{% block body %}

    <div class="jumbotron mt-2">
        <h1 class="text-center display-4 lead"></h1>



    </div>

{% endblock %}
